
<button onclick="turnForceOn(graph0)">Move 0</button>
<button onclick="turnForceOn(graph1)">Move 1</button>
<button onclick="turnForceOn(graph2)">Move 2</button>
<button onclick="turnForceOn(graph3)">Move 3</button>
<button onclick="turnForceOn(graph4)">Move 4</button>
<button onclick="turnForceOn(graph5)">Move 5</button>
<button onclick="turnForceOn(graph6)">Move 6</button>
<button onclick="turnForceOn(graph7)">Move 7</button>
<button onclick="turnForceOn(graph8)">Move 8</button>
<button onclick="turnForceOn(graph9)">Move 9</button>
<button onclick="turnForceOn(graph10)">Move 10</button>
<button onclick="turnForceOn(graph11)">Move 11</button>
<button onclick="turnForceOn(graph12)">Move 12</button>
<button onclick="turnForceOn(graph13)">Move 13</button>
<button onclick="turnForceOn(graph14)">Move 14</button>
<button onclick="turnForceOn(graph15)">Move 15</button>
<button onclick="turnForceOn(graph16)">Move 16</button>
<button onclick="turnForceOn(graph17)">Move 17</button>
<button onclick="turnForceOn(graph18)">Move 18</button>
<button onclick="turnForceOn(graph19)">Move 19</button>
<button onclick="turnForceOn(graph20)">Move 20</button>
<button onclick="turnForceOn(graph21)">Move 21</button>
<button onclick="turnForceOn(graph22)">Move 22</button>
<button onclick="turnForceOn(graph23)">Move 23</button>
<button onclick="turnForceOn(graph24)">Move 24</button>
<button onclick="turnForceOn(graph25)">Move 25</button>
<button onclick="turnForceOn(graph26)">Move 26</button>
<button onclick="turnForceOn(graph27)">Move 27</button>
<button onclick="turnForceOn(graph28)">Move 28</button>
<button onclick="turnForceOn(graph29)">Move 29</button>
<button onclick="turnForceOn(graph30)">Move 30</button>
<button onclick="turnForceOn(graph31)">Move 31</button>
<button onclick="turnForceOn(graph32)">Move 32</button>
<button onclick="turnForceOn(graph33)">Move 33</button>
<button onclick="turnForceOn(graph34)">Move 34</button>
<button onclick="turnForceOn(graph35)">Move 35</button>
<button onclick="turnForceOn(graph36)">Move 36</button>
<button onclick="turnForceOn(graph37)">Move 37</button>
<button onclick="turnForceOn(graph38)">Move 38</button>
<button onclick="turnForceOn(graph39)">Move 39</button>
<button onclick="turnForceOn(graph40)">Move 40</button>
<button onclick="turnForceOn(graph41)">Move 41</button>
<button onclick="turnForceOn(graph42)">Move 42</button>
<button onclick="turnForceOn(graph43)">Move 43</button>
<button onclick="turnForceOn(graph44)">Move 44</button>
<button onclick="turnForceOn(graph45)">Move 45</button>
<button onclick="turnForceOn(graph46)">Move 46</button>
<button onclick="turnForceOn(graph47)">Move 47</button>
<button onclick="turnForceOn(graph48)">Move 48</button>
<button onclick="turnForceOn(graph49)">Move 49</button>
<button onclick="turnForceOn(graph50)">Move 50</button>
<button onclick="turnForceOn(graph51)">Move 51</button>
<button onclick="turnForceOn(graph52)">Move 52</button>
<button onclick="turnForceOn(graph53)">Move 53</button>
<button onclick="turnForceOn(graph54)">Move 54</button>
<button onclick="turnForceOn(graph55)">Move 55</button>
<button onclick="turnForceOn(graph56)">Move 56</button>
<button onclick="turnForceOn(graph56)">Move 56</button>